.headerContainer {
    display: block;
    margin: auto;
    width: 90%;
}

.logo {
    background-image: url("../images/BannerLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    margin: auto;
    width: 90%;
}

.mainContainer {
    display: flex;
    flex: 2;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    width: 90%;
}

.navContainer {
    grid-column: 1;
    justify-content: center;
    width: 15%;
}

.viewContainer {
    display: flex;
    flex: 2;
    margin-bottom: 50px;
    margin-left: 10px;
    width: 65%;
}

.navColumn {
    justify-content: center;
    padding: 0px
}

.loginDiv {
    width: 75%;
    margin: auto;
}

.designDiv {
    width: 95%;
    margin: 0px auto;
}