@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.roomContainer {
    border: 10px inset #ddd;
    border-radius: 4px;
    height: 100%;
    padding: 5px;
    width: 100%;
}

.addRoomForm {
    justify-content: center;
    width: 85%;
}

.editRoomForm {
    justify-content: center;
    width: 80%;
}

.roomBtns {
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 50px;
    margin-left: 50px;
    margin-right: 70px;
    width: 5%;
}

.btn--roomMenu {
    margin-bottom: 15px;
    width: 50px;
}

.header--roomName {
    font-size: 14px;
    font-weight: bolder;
}

.header--roomMenu {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}