@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.addRoomForm {
    justify-content: center;
    width: 80%;
}

.editRoomForm {
    justify-content: center;
    width: 80%;
}

.roomContainer {
    border: 10px inset #ddd;
    border-radius: 4px;
    height: 100%;
    padding: 5px;
    width: 100%;
}

.navText {
    color: gray;
    font-weight: bolder;
}

a:hover {
    text-decoration: none;
}

.navRow {
    border: 4px ridge whitesmoke;
    background-color: rgb(240, 235, 235);
    box-shadow: 0px 12px 18px -6px rgba(95, 92, 92, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height: 90px;
    justify-content: center;
    margin: 0px auto 15px auto;
    overflow: hidden;
    padding: 10px;
    width: 90px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.navRow:hover {
    animation: bounce 1s;
    background-color: #fcbf63;
    box-shadow: 0px 18px 25px -6px rgba(34, 33, 33, 0.8);
    text-decoration: none !important;
}

.navRow:active {
    background-color: lightgrey;
}

.roomBtns {
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 50px;
    margin-left: 20px;
    width: 5%;
}

.btn--roomMenu {
    margin-bottom: 15px;
    width: 50px;
}

.header--roomName {
    font-size: 14px;
    font-weight: bolder;
}

.header--roomMenu {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}